[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-import-export = "*"
celery = "*"
redis = "*"
selenium = "*"
django-celery-beat = "*"
django-celery-results = "*"
money-parser = "*"
wget = "*"
requests = "*"
pdfplumber = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
